<div class="container">
  <h1>{{title}}</h1>
  <h3>{{description}}</h3>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-6">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="item">add message:</label>
          <input type="text" class="form-control" id="item" required [(ngModel)]="itemValue" name="item">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div *ngFor="let item of items | async">
    <div class="alert alert-success" role="alert">
      {{item.content}}
    </div>
  </div>
</div>
